/* Navbar styles for screens wider than 768px */
nav {
    margin: 0px auto 0;
    position: relative;
    width: 560px;
    height: 40px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  
  nav a {
    line-height: 40px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 140px;
  }
  
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  
  nav a:hover {
    background-color: #1abc9c;
    border-radius: 8px;
  }
  
  nav a:active {
    color: #640200;
  }
  
  body.navbar-us {
    margin: 0;
    color: white;
    background-color: #253545;
    padding: 1px;
    /* position: fixed; */
  }
  
  h1.navbar-us {
    margin-top: 10px;
    border-bottom: none;
    text-align: center;
    /* font-size: 50px; */
    font-weight: bold;
    height: 25px;
    width: 100%;
  }
  
  /* Navbar styles for screens narrower than 768px */
  @media (max-width: 768px) {
    nav {
      width: 100%;
    }
  
    nav a {
      width: auto;
      padding: 0 10px;
    }
  
    nav .collapse.navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #34495e;
      z-index: 2;
      display: none;
    }
  
    nav .collapse.navbar-collapse.show {
      display: block;
    }
  
    nav .navbar-toggler {
      display: block;
    }
  }
  